.main{

  width: 500px;
  text-align: center;
  margin: 0 auto;
  border: 2px solid rgba(77, 149, 255, 0.13);

  margin-top: 20px;
  font-family: sans-serif;

}
button{

  width: 150px;
  border: 2px solid #d1e3fe;
  color: #fe6601;
  margin-top: 15px;

}
input{

  width: 200px;
  border: 2px solid #d1e3fe;
  color: #4d90fe;


}

